[submodule "gnl"]
	path = gnl
	url = https://github.com/andersonhsporto/ft-get-next-line.git
[submodule "libft"]
	path = libft
	url = git@github.com:andersonhsporto/ft-libft.git
[submodule "mlx"]
	path = mlx
	url = https://github.com/42Paris/minilibx-linux
