[submodule "gnl"]
	path = 0-gnl
	url = https://github.com/andersonhsporto/ft-get-next-line.git
[submodule "libft"]
	path = 1-libft
	url = git@github.com:andersonhsporto/ft-libft.git
	
[submodule "0-gnl"]
	path = 0-gnl
	url = https://github.com/andersonhsporto/ft-get-next-line.git
[submodule "1-libft"]
	path = 1-libft
	url = https://github.com/andersonhsporto/ft-libft.git
